data/chroma.sqlite3
data/7d5695db-c401-4197-abb0-d775354625aa/link_lists.bin
data/7d5695db-c401-4197-abb0-d775354625aa/length.bin
data/7d5695db-c401-4197-abb0-d775354625aa/index_metadata.pickle
data/7d5695db-c401-4197-abb0-d775354625aa/header.bin
data/7d5695db-c401-4197-abb0-d775354625aa/data_level0.bin
.vscode/*
*.mp3
*.m4a
podcast/*
*.pyc
development/.ipynb_checkpoints/Summarizer-checkpoint.ipynb
development/.ipynb_checkpoints/Podcast-checkpoint.ipynb
development/.ipynb_checkpoints/llama-16k-checkpoint.ipynb
venv/*
setup.ps1
app.log
.env
*.sqlite3
*.db
data/philosophize_this/episode_transcripts/*
data/philosophize_this/transcripts_processed/*
data/philosophize_this/shorts/*
data/philosophize_this/merged_data.csv
data/vectorDB/*
